* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.input-error {
	outline: 1px solid red;
}
#ok {
	width: 3rem;
	height: 4rem;
}
#welcome {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	bottom: 8rem;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
#welcomeInputs {
	display: flex;
	flex-direction: row;
}
#welcome div,
#welcome span,
#welcome p {
	margin: 2rem;
}
#roundNumber {
	width: 3rem;
	height: 4rem;
	text-align: center;
}
#welcome p {
	font-size: 2rem;
}
h1 {
	margin: 2rem 0 3rem 0;
	text-align: center;
}
h2,
p {
	text-align: center;
}
h2 {
	margin-bottom: 3rem;
}
legend {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}
#inputSection {
	max-width: 90vw;
	margin: 0 auto;
}
fieldset {
	margin: 0 auto;
	padding: 0 8rem;
	min-width: 100%;
	max-width: 90vw;
	font-size: 1.3rem;
}

.inputButton {
	padding: 1rem;
	outline: rgba(0, 0, 0, 0) solid 1px;
	background-color: rgba(240, 255, 255, 0);
	transition: outline 700ms ease-out, color 200ms ease-out,
		background-color 200ms ease-out;
	border-radius: 30px;
	caret-color: rgba(0, 0, 0, 0);
}
main {
	display: none;
}
.inputButton:hover {
	background-color: rgba(161, 238, 238, 0.363);
	outline: 1px rgb(11, 99, 188) solid;
	color: rgb(11, 99, 188);
	cursor: pointer;
}
.container {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 1rem;
}
.container div {
	margin: 1rem 2rem;
	text-align: center;
}
#inputChoice {
	padding: 1rem;
	margin: 1rem;
	width: 100%;
}
#playedContainer {
	display: flex;
	margin: 2rem;
	max-width: 100%;
	height: 6rem;
	align-items: center;
	justify-content: center;
}
#played {
	text-align: center;
	height: 100%;
	font-size: 1.3rem;
	line-height: 1.9rem;
}
#gameEnd {
	text-align: center;
	display: none;
}
button[type="reset"] {
	margin: 3rem auto;
	padding: 0.5rem 1rem;
	display: block;
}
#gameState {
	display: flex;
	text-align: center;
	width: 100%;
	height: 4rem;
	align-items: center;
	justify-content: space-evenly;
	font-size: 2rem;
}
#gameState > * {
	padding: 1rem;
}
@media screen and (max-width: 700px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 10px;
	}
	.container div input {
		width: 200px;
	}
	#gameState > * {
		padding: 0.3rem;
	}
}
